main > a.buttonItineraire {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 15%;
    text-decoration: none;
}

main > a.buttonItineraire > button {
    background-color: forestgreen;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

main > table, main > table > caption, th, td {
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-collapse: collapse;
}

main > table > caption {
    background-color: forestgreen;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

main > table > tr > td > a, main > table > tr > td > button {
    background: none;
    padding: 0;
    border: none;
    color: forestgreen;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

main > table > p {
    text-align: center;
}