main > div.divItineraire {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main > div.divItineraire > div.listItineraire {
    height: 400px;
    width: 45%;
    overflow: auto;
}

main > div.divButtons, main > div.divErrors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}

main > div.divButtons > button {
    background-color: forestgreen;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

main > div.divErrors > button {
    background-color: lightgray;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    cursor: not-allowed;
}