form.formProfile {
    display: flex;
    flex-direction: column;
}

form.formProfile > input {
    height: 40px;
    width: 70%;
    margin: 5px auto;
    padding: 0 10px;
    border: 1px solid forestgreen;
    border-radius: 10px;
    font-size: 0.75rem;
}

form.formProfile > input.errorProfile {
    border: 1px solid red;
}

form.formProfile > input[type='submit'] {
    background-color: forestgreen;
    border: 1px solid black;
    text-transform: uppercase;
    color: white;
}

form.formProfile > p {
    color: red;
    text-align: center;
}